In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.metrics import make_scorer
from sklearn.metrics import mean_squared_log_error

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory
import xgboost as xgb
from sklearn import preprocessing
import os
from scipy.stats import skew
from sklearn.model_selection import train_test_split
print(os.listdir("../input"))
from sklearn.linear_model import Ridge, RidgeCV, ElasticNet, LassoCV, LassoLarsCV
from sklearn.model_selection import cross_val_score

from matplotlib import pyplot as plt
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV, cross_val_score, KFold
# Any results you write to the current directory are saved as output.

['test_9K3DBWQ.csv', 'Data_Dictionary.xlsx', 'train.csv']

In [2]:
import math
def rmsle(y, y_pred):
    assert len(y) == len(y_pred)
    to_sum = (np.log1p(y_pred)-np.log1p(y) ** 2.0)
    return (sum(to_sum) * (1.0/len(y))) ** 0.5

In [3]:
train_data = pd.read_csv("../input/train.csv")
y_train = train_data[train_data.columns[-1]]
del train_data[train_data.columns[-1]]
#train_data, cv_data, y_train, y_cv = train_test_split(train_data, y, test_size=0.20, random_state=42)
test_data = pd.read_csv("../input/test_9K3DBWQ.csv")

In [4]:
train_data.head()

      id account_type     ...     loan_enq  emi_active
0  23334       saving     ...          NaN        0.00
1  20329      current     ...          NaN     4963.33
2  17679      current     ...          NaN        0.00
3  16428       saving     ...          NaN     1238.18
4  18721       saving     ...          NaN        0.00

[5 rows x 43 columns]

In [5]:
test_data.head()

      id account_type     ...     loan_enq  emi_active
0   6975       saving     ...          NaN        0.00
1  43223      current     ...          NaN        0.00
2  45502      current     ...          NaN     2885.82
3  12368      current     ...          NaN        0.00
4  40415      current     ...          NaN     3342.58

[5 rows x 43 columns]

In [6]:
le = preprocessing.LabelEncoder()
train_data['account_type'] = le.fit_transform(train_data['account_type'])
#cv_data['account_type'] = le.transform(cv_data['account_type'])
test_data['account_type'] = le.transform(test_data['account_type'])

train_data['gender'] = le.fit_transform(train_data['gender'])
#cv_data['gender'] = le.transform(cv_data['gender'])
test_data['gender'] = le.transform(test_data['gender'])

train_data['loan_enq'] = train_data['loan_enq'].astype(str, inplace = True)
#cv_data['loan_enq'] = cv_data['loan_enq'].astype(str, inplace = True)
test_data['loan_enq'] = test_data['loan_enq'].astype(str, inplace = True)

train_data['loan_enq'] = le.fit_transform(train_data['loan_enq'])
#cv_data['loan_enq'] = le.transform(cv_data['loan_enq'])
test_data['loan_enq'] = le.transform(test_data['loan_enq'])

In [7]:
all_data = pd.concat((train_data, test_data), axis = 0, sort = False)

In [8]:
train_data.head()

      id  account_type     ...      loan_enq  emi_active
0  23334             1     ...             1        0.00
1  20329             0     ...             1     4963.33
2  17679             0     ...             1        0.00
3  16428             1     ...             1     1238.18
4  18721             1     ...             1        0.00

[5 rows x 43 columns]

In [9]:
#log transform the target:
y_train = np.log1p(y_train)

#log transform skewed numeric features which don't have more than 75% data missing
numeric_feats_all = train_data.dtypes[(train_data.dtypes != "object")].index

numeric_feats = [feature for feature in numeric_feats_all if(train_data[feature].isna().sum()<12000)]
print(numeric_feats)

['id', 'account_type', 'gender', 'age', 'region_code', 'cc_cons_apr', 'cc_cons_may', 'cc_cons_jun', 'cc_count_apr', 'cc_count_may', 'cc_count_jun', 'card_lim', 'debit_amount_apr', 'credit_amount_apr', 'debit_count_apr', 'credit_count_apr', 'max_credit_amount_apr', 'debit_amount_may', 'credit_amount_may', 'credit_count_may', 'debit_count_may', 'max_credit_amount_may', 'debit_amount_jun', 'credit_amount_jun', 'credit_count_jun', 'debit_count_jun', 'max_credit_amount_jun', 'loan_enq', 'emi_active']

In [10]:
skewed_feats = train_data[numeric_feats].apply(lambda x: skew(x)) #compute skewness

skewed_feats = skewed_feats[skewed_feats > 0.75]
skewed_feats = skewed_feats.index
print(skewed_feats)
train_data[skewed_feats] = np.log1p(train_data[skewed_feats])
test_data[skewed_feats] = np.log1p(test_data[skewed_feats])

Index(['account_type', 'age', 'cc_cons_apr', 'cc_cons_may', 'cc_cons_jun',
       'emi_active'],
      dtype='object')

In [11]:
def handle_missing_values(train_data, test_data, feature, val = 0):
    train_data[feature].replace(to_replace = np.nan, value = val, inplace = True)  
    test_data[feature].replace(to_replace = np.nan, value = val, inplace = True)
    return train_data, test_data
    
for feature in train_data.columns:
    train_data, test_data = handle_missing_values(train_data, test_data, feature, 0)

In [12]:
# for feature in object_feats:
#     train_data[feature].replace(to_replace = np.nan, value = 0, inplace = True)  
#     test_data[feature].replace(to_replace = np.nan, value = val, inplace = True)

In [13]:
print(train_data.isnull().values.any())   # prints False now :)
print(test_data.isnull().values.any())   # prints False now :)

False
False

In [14]:
from sklearn import datasets
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor, ExtraTreesRegressor, VotingRegressor



# Training classifiers
reg1 = GradientBoostingRegressor(random_state=1, n_estimators=300)
reg2 = RandomForestRegressor(random_state=1, n_estimators=300)
reg3 = ExtraTreesRegressor(random_state=1, n_estimators=300)
reg4 = LinearRegression()
ereg = VotingRegressor(estimators=[('gb', reg1), ('rf', reg2), ('et', reg3), ('lr', reg4)])
ereg = ereg.fit(train_data, y_train)

In [15]:
def make_test_pred(best_estimator):
    test_pred = best_estimator.predict(test_data)
    test_pred = np.expm1(test_pred)
    test_submission = pd.DataFrame()
    test_submission['id'] = test_data['id']
    test_submission['cc_cons'] = test_pred
    test_submission.to_csv('combined.csv', index=False)

In [16]:
make_test_pred(ereg)